body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

.container {
    width:800px;
    max-width: 80%;
    max-height: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;  
    justify-content: center;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color:navy;
}

.question {
    padding: 20px;
    font-size: 22px;
    background: ivory;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color:black;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}

.option:hover {
    background:whitesmoke;
    color:skyblue;
}

.next-btn {
    border: none;
    outline: none;
    background:white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.next-btn:hover {
    background: #08038C;
    color: #f6f6f6;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.option input:checked .option {
    background: #08038C;
    color: #000;
}